<hr>

<h2>Editor Options!</h2>
<h3>The Current Scene</h3>
  <p>
    <!-- edit link -->
    <%= link_to 'Edit', edit_scene_path(@scene.id) %>
    <!-- do not display the delete option if this is the start scene -->
    <% if @scene.not_start? %>
      - <%= link_to 'Delete', scene_path(@scene.id), :method => 'delete' %>
    <% end %> <!-- @scene.adventure... -->
  </p>

<!-- ORIGIN SCENES SECTION -->
<h3>Origin scenes (Scenes that have a path to here)</h3>

<!-- if this scene has any origins display them -->
<% if @scene.origins.any? %>
  <ul>
    <% @scene.origins.each do |origin| %>
      <li><%= link_to origin.title, origin %></li>
    <% end %> <!-- END OF @scene.origins.each -->
  </ul>
<!-- if this scene is not the start scene display an error -->
<% elsif @scene.not_start? %>
  <p style="color:red; font-weight:bold;">Oops! This is an Orphan! No other scenes have paths to here!</p>
<% end %> <!-- END OF if @scene.paths.any? -->

<!-- if this is an end scene, remove these options -->
<% if @scene.end != true %>
  <!-- allow the user to create a new scene and auto link this scene (create a path) to the current scene -->
  <h3>Create a New Scene and Add a Path from the current scene to this New Scene</h3>
  <!-- create a link to -->
  <p><%= link_to 'Create Scene and Path', new_scene_path(:origin_id => @scene.id) %>

  <!-- option to allow user to create a new scene and link to the current scene -->
  <h3>Create a New Path to for this scene</h3>

  <%= form_tag paths_path do %> 
    <%= hidden_field_tag('origin_id',@scene.id) %>
    <%= label_tag 'Path Description' %>
    <%= text_field_tag :description %>
    <%= select_tag(:destination_id, options_for_select(@link_options)) %>
    <%= submit_tag 'Add Path' %>  
  <% end %><!-- END OF form_tag -->
<!-- this is the end scene, so options removed -->
<% else %>
  <p>Linking unavailable as this is an end scene!</p>
<% end %><!-- END OF if @scene.end != true -->