<!-- Show errors on invalid form data -->
<% if @scene.errors.any? %>
  <div class="errors">
    <p><b>Error:</b> Your Scene could not be saved:</p>
    <ul>
      <% @scene.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- Display the form -->
<%= form_for @scene, :html => {:class => "scene-form"} do |f| %>
  <!-- On the new action only... -->
  <% if params[:action] == 'new' %>
    <!-- Origin ID is required to link this new scene to the scene the user clicked the link from -->
    <%= hidden_field_tag('origin_id',@origin.id) %>
    <!-- Used to Populate the "Description" on a newly created Track -->
    <div class="form-field">
      <%= label_tag 'Track Text' %>
      <%= text_field_tag 'track_desc', nil, {:required => true, :autofocus => true} %>
    </div>
  <% end %>
  <!-- Used to Populate the new Scene Object -->
  <div class="form-field">
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>
  </div>
  <div class="form-field">
    <%= f.label :first_visit %>
    <%= f.text_area :first_visit %>
  </div>
  <div class="form-field">
    <%= f.label :description %>
    <%= f.text_area :description, :required => true %>
  </div>
  <div class="form-field">
    <%= f.label :image %>
    <%= f.url_field :image %>
  </div>
  <div class="form-field">
    <%= f.label :multi_visit %>
    <%= f.check_box :multi_visit, :checked => true %>
  </div>
  <div class="form-field">
    <%= f.label :end %>
    <%= f.check_box :end %>
  </div>
  <%= f.submit %>
<% end %>