<!-- Show errors on invalid form data -->
<% if @scene.errors.any? %>
  <div class="errors">
    <p><b>Error:</b> Your Scene could not be saved:</p>
    <ul>
      <% @scene.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- Display the form -->
<%= form_for @scene, :html => {:role => "form", :multipart => true} do |f| %>
  <!-- On the new action only... -->
  <% if params[:action] == 'new' %>
    <!-- Origin ID is required to link this new scene to the scene the user clicked the link from -->
    <%= hidden_field_tag('origin_id',@origin.id) %>
    <!-- Used to Populate the "Description" on a newly created Track -->
    <div class="form-group">
      <%= label_tag 'Track Description' %>
      <%= text_field_tag 'track_desc', nil, {:required => true, :autofocus => true, :class => 'form-control'} %>
    </div>
  <% end %>
  <!-- Used to Populate the new Scene Object -->
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, {:required => true, :class => 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, {:required => true, :class => 'form-control', :rows => 10} %>
  </div>
  <div class="form-group">
    <%= f.label :image_url %>
    <%= f.url_field :image_url, :class => "form-control" %>
  </div>
  <div>
    <%= f.label :image_file %><br>
    <%= f.file_field :image_file, :accept => "image/gif, image/jpeg, image/svg, image/jpg, image/png" %>
  </div>
  <div class="form-group">
    <%= f.label :end %>
    <%= f.check_box :end %>
  </div>
  <%= f.submit :class => 'btn btn-success' %>
<% end %>