<h2>Create a new scene</h2>

<p>This scene will be linked to "<%= @origin.title %>"</p>

<%= form_for @scene, :url => {:action => "create_link"} do |f| %>
  <div class="form-field">
    <%= label_tag 'Path Description' %>
    <%= text_field_tag 'path_desc' %>
  </div>
  <div class="form-field">
    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>
  </div>
  <div class="form-field">
    <%= f.label :first_visit %>
    <%= f.text_area :first_visit %>
  </div>
  <div class="form-field">
    <%= f.label :description %>
    <%= f.text_area :description, :required => true %>
  </div>
  <div class="form-field">
    <%= f.label :image %>
    <%= f.url_field :image %>
  </div>
  <div class="form-field">
    <%= f.label :end %>
    <%= f.check_box :end %>
  </div>
  <div class="form-field">
    <%= f.label :multi_visit %>
    <%= f.check_box :multi_visit, :checked => true %>
  </div>
  <%= f.submit %>
<% end %>