<h2><%= @scene.title %></h2>
<%= image_tag @scene.image, :class => 'scene' %>
<p><%= @scene.first_visit %></p>
<p><%= @scene.description %></p>

<!-- determine if this is the end of the adventure -->
<% if @scene.end %>
  <p>You've reached the end of this adventure, play again?</p>
<!-- it's not the end so display the paths -->
<% else %>
  <h3>Paths</h3>
  <ul>
    <% @scene.paths.each do |path| %>
      <li><%= link_to path.description, scene_path(path.destination_id) %></li>
    <% end %>
  </ul>
<% end %>

<hr>

<h2>Editor Options!</h2>
<p>The Current Scene - <%= link_to 'Edit', edit_scene_path(@scene.id) %> | <%= link_to 'Delete', scene_path(@scene.id), :method => 'delete' %></p>

<p>Create a New Scene and Link to this scene</p>
<p><%= link_to 'Link Scene', new_scene_path(@scene.id) %>

<p>Link this scene to an existing scene</p>
<p>To be added...</p>