<!-- display the current scene -->
<h2><%= @scene.title %></h2>
<%= image_tag @scene.image, :class => 'scene' %>
<p><%= @scene.first_visit %></p>
<p><%= @scene.description %></p>

<!-- determine if this is the end of the adventure -->
<% if @scene.end %>
  <p>You've reached the end of this adventure, <%= link_to 'play again?', adventure_path(@scene.adventure) %></p>
<!-- it's not the end so display the available paths -->
<% else %>
  <h3>Paths</h3>
  <ul>
    <% @scene.paths.each do |path| %>
      <li><%= link_to path.description, scene_path(path.destination_id) %></li>
    <% end %>
  </ul>
<% end %>

<!-- if user is signed in present the editor options -->
<% if user_signed_in? %>

  <hr>

  <h2>Editor Options!</h2>
  <p>The Current Scene - <%= link_to 'Edit', edit_scene_path(@scene.id) %>
    <!-- do not display the delete option if this is the start scene -->
    <% if @scene.adventure.start_scene_id != @scene.id %>
       | <%= link_to 'Delete', scene_path(@scene.id), :method => 'delete' %></p>
    <% end %>
  
  <!-- allow the user to create a new scene and auto link this scene (create a path) to the current scene -->
  <p>Create a New Scene and Link to this scene</p>
  <p><%= link_to 'Link Scene', new_scene_path(@scene.id) %>

  <p>Link this scene to an existing scene</p>
  <p>To be added...</p>

<% end %>