<!-- display the current scene -->
<h2><%= @scene.title %></h2>
<%= image_tag @scene.image, :class => 'scene' %>
<p><%= @scene.first_visit %></p>
<p><%= @scene.description %></p>

<!-- determine if this is the end of the adventure -->
<% if @scene.end %>
  <p>You've reached the end of this adventure, <%= link_to 'play again?', adventure_path(@scene.adventure) %></p>
<!-- it's not the end so display the available paths -->
<% else %>
  <h3>Paths</h3>
  <ul>
    <% @scene.paths.each do |path| %>
      <li>
        <%= link_to path.description, scene_path(path.destination_id) %>
        <% if user_signed_in? %>
          - <%= link_to 'Delete', delete_path_path(path.id), :method => 'post' %>
        <% end %> <!-- user_signed_in? -->
      </li>
    <% end %>
  </ul>
<% end %>

<!-- if user is signed in present the editor options -->
<% if user_signed_in? %>

  <hr>

  <h2>Editor Options!</h2>
  <h3>The Current Scene</h3>
    <p>
      <!-- edit link -->
      <%= link_to 'Edit', edit_scene_path(@scene.id) %>
      <!-- do not display the delete option if this is the start scene -->
      <% if @scene.adventure.start_scene_id != @scene.id %>
        - <%= link_to 'Delete', scene_path(@scene.id), :method => 'delete' %>
      <% end %>
    </p>
  
  <!-- if this is an end scene, remove these options -->
  <% if @scene.end != true %>
    <!-- allow the user to create a new scene and auto link this scene (create a path) to the current scene -->
    <h3>Create a New Scene and Link to this scene</h3>
    <p><%= link_to 'Link Scene', new_scene_path(@scene.id) %>

    <h3>Link this scene to an existing scene</h3>

    <%= form_tag paths_path do %> 
      <%= hidden_field_tag('origin_id',@scene.id) %>
      <%= label_tag 'Path Description' %>
      <%= text_field_tag :description %>
      <%= select_tag(:destination_id, options_for_select(@link_options)) %>
      <%= submit_tag 'Add Path' %>  
    <% end %><!-- form_tag -->
  <!-- this is the end scene, so options removed -->
  <% else %>
    <p>Linking unavailable as this is an end scene!</p>
  <% end %><!-- if @scene.end != true -->

<% end %><!-- if user_signed_in?