  <hr>

  <h2>Adventure Editor!</h2>
  <h3>The Current Adventure</h3>
  <p>
    <%= link_to 'Edit', edit_adventure_path(@adventure.id) %> | 
    <%= link_to 'Delete', adventure_path(@adventure.id), :method => 'delete' %>
  </p>

  <h3>Scenes in this Adventure</h3>
  <ul>
    <% @adventure.scenes.order(:id).each do |scene| %>
      <li><%= link_to(scene.title,scene) %></li>
    <% end %>
  </ul>

  <h3>Orphaned Scenes</h3>
  <p>Scenes which have no paths to reach it (no origin scenes), a user can never get to this scene.</p>

  <ul>
    <% @orphans.each do |scene| %>
      <li><%= link_to(scene.title,scene) %></li>
    <% end %>
  </ul>

  <h3>Dead End Scenes</h3>
  <p>Scenes that have no destinations (no paths to other scenes) AND are not flagged as the end of an adventure</p>
  <ul>
    <% @dead_ends.each do |scene| %>
      <li><%= link_to(scene.title,scene) %></li>
    <% end %>
  </ul>