<!-- Show errors on invalid form data -->
<% if @adventure.errors.any? %>
  <div class="alert alert-danger">
    <p><b>Error:</b> Your Adventure could not be saved:</p>
    <ul>
      <% @adventure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- Form -->
<%= form_for @adventure, :html => {:role => "form"} do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, {:class => 'form-control', :required => true} %> <!-- , :required => true -->
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, {:class => 'form-control', :required => true, :rows => 5} %> <!-- , :required => true -->
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.text_field :image, {:class => 'form-control'} %>
  </div>
  <!-- Changing status is only possibly by editing -->
  <% if params['action'] == 'edit' || params['action'] == 'update' %> <!-- || params['action'] == 'update' -->
    <div class="form-group">
      <%= f.label :status %>
      <%= f.select :status, [['Draft','Draft'],['Published','Published']], {}, {:class => "form-control"} %>
    </div>
  <% end %>
  <%= f.submit :class => 'btn btn-success' %> <%= link_to 'Cancel', :back, :class => 'btn btn-danger', :confirm => 'This will take you back to previous page and changes you\'ve made will be lost. Do you wish to proceed?' %>
<% end %>