<!-- Show errors on invalid form data -->
<% if @adventure.errors.any? %>
  <div class="errors">
    <p><b>Error:</b> Your Adventure could not be saved:</p>
    <ul>
      <% @adventure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<!-- Form -->
<%= form_for @adventure, :html => {:class => "adv-form"} do |f| %>
  <div class="form-field">
    <%= f.label :name %>
    <%= f.text_field :name %> <!-- , :required => true -->
  </div>
  <div class="form-field">
    <%= f.label :description %>
    <%= f.text_area :description %> <!-- , :required => true -->
  </div>
  <div class="form-field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>
  <!-- Changing status is only possibly by editing -->
  <% if params['action'] == 'edit' %>
    <div class="form-field">
      <%= f.label :status %>
      <%= f.select :status, @statuses %>
    </div>
  <% end %>
  <%= f.submit %>
<% end %>