<%= form_for @adventure do |f| %>
  <div class="form-field">
    <%= f.label :name %>
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="form-field">
    <%= f.label :description %>
    <%= f.text_area :description, :required => true %>
  </div>
  <div class="form-field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>
  <!-- Changing status is only possibly by editing -->
  <% if params['action'] == 'edit' %>
    <div class="form-field">
      <%= f.label :status %>
      <%= f.select :status, @statuses %>
    </div>
  <% end %>
  <%= f.submit %>
<% end %>