<% if @adventures.any? %>
  <ul class="adv-list">
    <% @adventures.each do |adv| %>
      <li>
        <%= link_to(adv, {}) do %>
          <!-- preview adventure -->
          <div class="adv-desc">
            <%= image_tag adv.image, :class => 'thumb' %>
            <h2><%= adv.name %></h2>
            <!-- truncate adventure description to 500 characters maximum -->
            <p><%= truncate(adv.description, :length => 300, :separator => ' ') %></p>
            <p><b>Author:</b> <%= adv.user.username %></p>
            <p><b>Created:</b> <%= adv.created_at.strftime('%-d-%b-%y %I:%M %p') %></p>
          </div>
          <!-- end of preview adventure -->
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No Adventures Found</p>
<% end %>