<h2>Adventure: <%= @adventure.name %></h2>
<p>Status: <%= @adventure.status %></p>
<p>Created By: <%= @adventure.user.username %></p>
<p>Description: <%= @adventure.description %></p>
<%= image_tag @adventure.image, :class => 'scene' %>
<p><%= link_to 'Click Here to Play!', scene_path(@adventure.start_scene_id) %></p>

<%= render 'editor_opt' %>