<h2>Adventure: <%= @adventure.name %></h2>
<p>Status: <%= @adventure.status %></p>
<p>Description: <%= @adventure.description %></p>

<h2>Editor Options!</h2>
<p>The current scene</p>
<p>
  <%= link_to 'Edit', edit_adventure_path(@adventure.id) %>
  <%= link_to 'Delete', adventure_path(@adventure.id), :method => 'delete' %>
</p>

<h3>Scenes in this Adventure</h3>
<ul>
  <% @adventure.scenes.each do |scene| %>
    <li><%= link_to(scene.title,scene) %></li>
  <% end %>
</ul>

<h3>Orphaned Scenes</h3>
<p>Scenes that have no destinations but are not flagged as the end of an adventure</p>
<ul>
  <% @orphans.each do |scene| %>
    <li><%= link_to(scene.title,scene) %></li>
  <% end %>
</ul>