<!DOCTYPE html>
<html>
<head>
  <title>TextAdvApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <nav>
      <li><%= link_to 'Home', home_path %></li>
      <li><%= link_to 'Adventures', adventures_path %></li>
      <li><%= link_to 'New Adventure', new_adventure_path %></li>
      <% if user_signed_in? %>
          <li style="color:white"><p>You are logged in as <%= current_user.email %></p></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></li>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
      <% end %>
    </nav>

    <%= yield %>
  </div>

</body>
</html>
