<!DOCTYPE html>
<html>
<head>
  <title>TextAdvApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!-- added for mobile styling with bootstrap -->
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <!-- Google Font -->
  <link href='http://fonts.googleapis.com/css?family=Titan+One' rel='stylesheet' type='text/css'>
  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49487111-1', 'txt-adv.herokuapp.com');
    ga('send', 'pageview');
  </script>
</head>
<body>

<!-- BOOT STRAP NAV BAR START -->

  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to home_path, :class => 'navbar-brand' do %>
          <span class="glyphicon glyphicon-home"></span>&nbsp; TAB
        <% end %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- LEFT LINKS -->
           <!-- class="active" -->
          <li<%= active 'adventures' %>>
            <%= link_to adventures_path do %>
              <span class="glyphicon glyphicon-th-list"></span>&nbsp; All Adventures
            <% end %>
          </li>
          <li<%= active 'my_creations' %>>
            <%= link_to my_creations_path do %>
              <span class="glyphicon glyphicon-road"></span>&nbsp; My Creations
            <% end %>
          </li>
          <li<%= active 'new_adventure' %>>
            <%= link_to new_adventure_path do %>
              <span class="glyphicon glyphicon-plus"></span>&nbsp; New Adventure
            <% end %>
          </li>
          <li<%= active 'guide' %>>
            <%= link_to guide_path do %>
              <span class="glyphicon glyphicon-question-sign"></span>&nbsp; Guide / FAQ
            <% end %>
          </li>
        </ul>
        <!-- RIGHT MENU -->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <!-- user signed in -->
            <% if user_signed_in? %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>&nbsp; Logged in as <%= current_user.username %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Edit Your Details', edit_user_registration_path %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, :method => 'delete' %></li>
              </ul>
            <!-- user not signed in -->
            <% else %> 
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span>&nbsp; User Options<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to 'Sign in', new_user_session_path %></li>
                <li><%= link_to 'Sign up', new_user_registration_path %></li>
              </ul>
            <% end %> <!-- if user_signed_in? -->
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

<!-- BOOT STRAP NAV BAR END -->

  <div class="container">

    <%= yield %>
    
  </div>

</body>
</html>
